@import url('./reset.css');
@import url('./base.css');

body {
  font: menu;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  margin: 0;
  padding: 0;
}

.notebook-list {
  background-color: yellow;
  width: 20vw;
  height: 95vh;
  display: inline-block;
  position: relative;
}

.note-log {
  background-color: pink;
  height: 100vh;
  width: 20vw;
  display: inline-block;
  position: relative;
}

.notes-area {
  background-color: green;
  height: 100vh;
  width: 60vw;
  display: inline-block;
  position: absolute;
}
