textarea {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 20px;
  padding-top: 80px;
  font-size: 1rem;
  border: none;
}


.note-area-button-container {
  right: 10px;
  bottom: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.delete-note-button {
  height: 30px;
  width: 30px;
  background-image: url(img/delete_note_button.svg);
  background-position: left top;
  background-color: white;
  border: none;
}

.delete-note-button:hover {
  background-image: url(img/delete_note_button_hover.svg);
}

.new-note-button {
  width: 30px;
  height: 30px;
  background-image: url(img/new_note_button.svg);
  background-position: left top;
  background-color: white;
  border: none;
}

.new-note-button:hover {
  background-image: url(img/new_note_button_hover.svg);
}

.save-local-button {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-image: url(img/save_local_icon.svg);
  background-position: left top;
  background-color: white;
  border: none;
}

.save-local-button:hover {
  background-image: url(img/save_local_icon_hover.svg);
}

.watermark-logo {
  height: 50px;
  width: 50px;
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;

  z-index: 4;
  background-size: 50px;
  background-image: url(img/jot_logo.png);
  background-repeat: no-repeat;
  background-position: left top;
  opacity: .09;
}
